.border{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-color: #ced4da !important;
}

.blue-ing{
  background-color: #3282f7;
}

.green-app{
  background-color: #68D9A4;
}

.red-ust{
  background-color: #ED6454;
}

.mr-2{
  margin-right: 17px;
}

.main-research{
  background-color: #E9ECF0;
  border-right-color: #E9ECF0;
}

::placeholder, .blue-ing, .green-app, .red-ust, ul#ingredients,ul#appareils,ul#ustensiles{
  color: white;
}

.text-align-right{
  text-align: right;
}

ul#ingredients,ul#appareils,ul#ustensiles{
  column-count: 3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}